a:link{
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

a:visited{
    color: blue;
}

a:hover {
    color: orange;
    font-size: 15px;
}

a:active{
    color: aqua;
    font-size: 18px;
}