li{
    list-style-type: none;
    text-align: center;
    display: inline;
    font-size: 12px;
}

a{
    color: white;
    background: green;
}

a:link, a:active{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color:orange; 
}