
table, tr, th, td{
    border: solid 1px #cccccc;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    border-top: solid 3px orange;
}

th{
    background-color: #eeeeee;
}

#col1, #col2, #col3{
    width: 20%;
}

#col4{
    width: 40%;
}
