#b { 
	position: absolute;
	left: 80px;
	top: 50px;
}
div { width: 100px;
	height: 60px;
	background-color: yellow;
	border: solid 1px black;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
