div{
    border: solid 1px orange;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
}

#box2{
    text-align: right;
}

#box3{
    text-align: center;
}

img{
    width: 250px;
    height: 300px;
}