ul{
    line-height: 150%;
    font-size: 12px;
}

input{
    height: 13px;
}

li{
    list-style-type: none;
}

.main-form{
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.action-form input{
    height: 20px;
}

textarea{
    width: 300px;
    height: 200px;
}

#hello{
    vertical-align: top;
}