<html>
    <body>
        <h1>이 리스트 오브젝트는</h1>
        <br> [[${listObject}]]
        <br> [[${listObject[0]}]]
        <br> [[${listObject[1]}]]
        <br> [[${listObject[2]}]]
        <hr>
        <h1>맵 오브젝트</h1>
        <br> [[${mapObject}]]
        <br> [[${mapObject.key1}]]
        <br> [[${mapObject['key2']}]]
        <h1>모델 객체</h1>
        <br> [[${demoObject[0]["user"]}]]
        <br> [[${demoObject[1].user}]]
        <br> [[${demoObject[2]["user"]}]]
    </body>
</html>