main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 650px;
}

.login_form{
    text-align: center;
    height: 615px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
}

.home_image{
    margin-top: 30px;
    margin-right: 20px;
    background-image: url("../Images/home-phones.png");
    background-size: 458px 625px;
    width: 450px;
    height: 650px;
    background-repeat: no-repeat;
}

#second_image{
    position: relative;
    width: 250px;
    height: 532px;
    top: 28px;
    left: 152px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px lightgray;
    width: 350px;
    height: 390px;
    margin-top: 20px;
}

#logo_img{
    width: 165px;
    height: 45px;
    margin-top: 20px;
}

.login_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 200px;
    margin-bottom: 30px;
}

.login_button{
    margin-top: 20px;
    margin-bottom: 25px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.login_text{
    text-align: center;
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: bold;
}

.forget{
    font-size: .8125rem;
}

#forget_num{
    margin-bottom: 15px;
}

#forget_num, #forget_num:hover, #forget_num::before, .forget_num::after{
    text-decoration-line: none;
    color: black;
}

.sign_up{
    border: solid 1px lightgray;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    font-size: 14px;
}

#down_p{
    font-size: 14px;
    margin: 15px;
}

.box{
    width: 200px;
}

.fb_box{
    display: flex;
    justify-content: center;
    width: 170px;
}

.fb_box, .fb_box::before, .fb_box:hover{
    text-decoration-line: none;
}

.fb_img{
    width: 17.5px;
    height: 17.5px;
    margin-top: 1px;
    margin-right: 4px;
}

.fb_login{
    color: #385185;
    font-weight: bold;
    font-size: 14px;
    margin-left: 4px;
}

.else{
    display: flex;
    width: 260px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.line1, .line2{
    width: 96.5px;
    height: 0.5px;
    background-color: lightgray;
}

.ko_else{
    font-size: .8125rem;
    font-weight: bold;
}

.link1, .link1::before, .link1:hover {
    color:rgb(0,149,246);
    font-weight: bold;
    text-decoration-line: none;
}

#google{
    width: 125px;
    height: 40px;
}

#micro{
    width: 110px;
    height: 40px;
}

a, a::before, a:hover, a::after{
    text-decoration-line: none;
}

footer{
    font-size: 12px;
    font-weight: 400;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.down{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_1, .footer_2{
    height: auto;
}

.footer_1{
    margin-right: 5px;
    color: gray;
}


#link2::before, #link3::before, #link4::before, #link5::before, #link6::before, #link7::before,
#link8::before, #link9::before, #link10::before, #link11::before, #link12::before, #link13::before, #link14::before
#link2:visited, #link3:visited, #link4:visited, #link5:visited, #link6:visited, #link7:visited,
#link8:visited, #link9:visited, #link10:visited, #link11:visited, #link12:visited, #link13:visited, #link14:visited{
    color: gray;
}

#link2::after, #link3::after, #link4::after, #link6::after, #link7::after, #link12::after, #link14::after{
    color: gray;
}

#link2:hover, #link3:hover, #link4:hover, #link6:hover, #link7:hover, #link12:hover, #link14:hover{
    text-decoration: underline;
    color: gray;
    text-decoration-color: rgb(0,55,107);
}

.footer_2{
    margin-top: 10px;
}

#lang{
    border: none;
    width: 58px;
    font-size: 12px;
    font-weight: 400;
    color: grey;
}

.box{
    background-color: rgb(76,181,249);
    border: none;
    border-radius: 6px;
    width: 255.1px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#final{
    color: gray;
}

@media screen and (max-width: 760px) {
    .home_image {
      display: none;
    }
  }

.links {
    display: inline-block;
}